<div id="main-wrap" class="wrap-{{ posts.length }}">
    {% for post in posts %}
        <article {% if forloop.index == 1 %}id="lead-story"{% endif %} {% if post.image_url == "" %}class="no-image"{% endif %}>
            <a
                class="box-link"
                href="/suttas/{{ post.id | slugify }}.html"
                {% if post.image_url == "" %}style="background-image: url('/assets/wicker4.jpg'); background-size: 200px"{% else %}style="background-image: url('{{ post.image_url }}')"{% endif %}></a>
            <div class="preview">
                <h2>
                    <a href="/suttas/{{ post.id | slugify }}.html">
                        {{ post.title }}
                    </a>
                </h2>
                {% if forloop.index == 1 and post.subtitle != "" %}
                    <h3>{{ post.subtitle }}</h3>
                {% endif %}
                <p class="sutta-name">
                    {{ suttas.all_suttas[post.id].name }}
                </p>
                <p class="date">{{ post.date.seconds }}</p>
                {% if post.tags.length > 0 %}
                    <p class="tags">
                        tags:
                        {% for tag in post.tags %}
                            <a href="/tags/{{ tag | slugify }}.html">{{ tag }}</a>
                            {%- if forloop.last != true %},{% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        </article>
    {% endfor %}
</div>