<article {% if isHome == true and forloop.index == 1 %}class="newest-post"{% endif %}>
    <div id="heading-and-image">
        {% include "partials/_figure.liquid" %}
        <div id="heading">
            <h2>
                <a href="/suttas/{{ post.id | slugify }}.html">{{ post.title }}</a>
            </h2>
            <h3>{{ post.subtitle }}</h3>
            <p class="date">{{ post.date.seconds }}</p>
            <p class="sutta-name">Sutta: {{ suttas.all_suttas[post.id].name }}</p>
            <a class="read-more-link" href="/suttas/{{ post.id | slugify }}.html">read more</a>
        </div>
    </div>
    <div class="tags-wrapper">
        {% include "partials/_tags.liquid" %}
    </div>
</article>