<article {% if isHome == true and forloop.index == 1 %}{% if post.image_url == "" %}class="newest-post no-image"{% else %}class="newest-post"{% endif %}{% endif %}>
    <div class="heading-and-image">
        {% if post.image_url != "" %}
            <a class="image-preview" href="/suttas/{{ post.id | slugify }}.html">
                <img src="{{ post.image_url }}" />
            </a>
        {% endif %}
        <div class="heading">
            <h2>
                <a href="/suttas/{{ post.id | slugify }}.html">{{ post.title }}</a>
            </h2>
            <h3>{{ post.subtitle }}</h3>
            <div>
                <p class="date">{{ post.date.seconds }}</p>
                <p class="sutta-name">Sutta: {{ suttas.all_suttas[post.id].name }}</p>
            </div>
            <a class="read-more-link" href="/suttas/{{ post.id | slugify }}.html">read more</a>
        </div>
    </div>
    {% if post.tags.length > 0 %}
        <div class="tags-wrapper">
            {% include "partials/_tags.liquid" %}
        </div>
    {% endif %}
</article>